---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body data-spy="scroll" data-target="#toc">

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    
    <div class="container">
      <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
       <div class="col-sm-3">
          <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
        </div>
        <!-- main content area -->
        <div class="col-sm-9">
        {{ content }}
        </div>
      </div>
    </div>
  </body>

    
   
    <!--{% include toc.html html=content %}-->
    

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
